@charset "UTF-8";
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
}

address {
  font-style: normal;
}

a {
  text-decoration: none;
  color: inherit;
}

::before,
::after {
  box-sizing: border-box;
}

:root {
  --first-text-primary: #212121;
  --main-background-color: #ffffff;
  --highlight-color: #2196f3;
  --complementary-color: #2f303a;
  --complementary-color-text: #757575;
  --complementary-color-text-nav: #ffffff99;
  --color-portfolio-line: #eeeeee;
  --icon-social-color: #afb1b8;
  --shadow-effect: #2f303a;
  --display-property-flex: flex;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-with: 480px) {
  .container {
    max-width: 480px;
  }
}

@media screen and (min-with: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-with: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.zero_section_service {
  padding-top: 0px;
}

.header_border {
  border-bottom: 1px solid #ececec;
  padding-top: 24px;
  padding-bottom: 25px;
}

.site_nav {
  display: var(--display-property-flex);
  align-items: center;
}

.body-styles {
  font-family: "Roboto", sans-serif;
  color: var(--first-text-primary);
}

.pointer {
  cursor: pointer;
}

.universal_title {
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.171;
  text-align: center;
  letter-spacing: 0.03em;
}

/* Значки соц сетей */
.social_networks {
  border: none;
  display: flex;
  width: 206px;
  margin-left: 32px;
  margin-right: 32px;
  justify-content: space-evenly;
}

.social_networks__item:not(:last-child) {
  margin-right: 10px;
}

.social_networks__link {
  fill: var(--icon-social-color);
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social_networks__link:focus, .social_networks__link:hover {
  fill: var(--main-background-color);
  background-color: var(--highlight-color);
}

/* logo */
.logo_top {
  margin-right: 93px;
  font-family: Raleway;
  text-decoration: none;
  font-size: 26px;
  line-height: 1.173;
  color: var(--first-text-primary);
  letter-spacing: 0.03em;
}

.logo_bottom {
  display: inline-block;
  margin-bottom: 20px;
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.173;
  color: var(--main-background-color);
  letter-spacing: 0.03em;
}

.logo_color {
  text-decoration: none;
  color: var(--highlight-color);
}

/* Навигация */
.menu_nav {
  display: block;
  display: var(--display-property-flex);
}

.menu_nav__item {
  margin-right: 50px;
}

.menu_nav__item:last-child {
  margin-right: 0;
}

.menu_nav__link {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  text-decoration: none;
  color: var(--first-text-primary);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.172;
  letter-spacing: 0.02em;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu_nav__link:focus, .menu_nav__link:hover {
  color: var(--highlight-color);
}

.actual::after {
  position: absolute;
  display: block;
  content: "";
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: var(--highlight-color);
  border-radius: 2px;
}

.contact_nav {
  display: var(--display-property-flex);
  margin-left: 305px;
}

.contact_nav__icon {
  display: inline-block;
  margin-right: 10px;
  border: none;
  justify-content: center;
  align-items: center;
}

.contact_nav__mail {
  display: flex;
  margin-right: 30px;
  text-decoration: none;
  color: var(--complementary-color-text);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.172;
  letter-spacing: 0.02em;
  justify-content: center;
  align-items: center;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact_nav__mail:focus, .contact_nav__mail:hover {
  color: var(--highlight-color);
  fill: var(--highlight-color);
}

.contact_nav__tel {
  display: flex;
  text-decoration: none;
  color: var(--complementary-color-text);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.172;
  letter-spacing: 0.02em;
  justify-content: center;
  align-items: center;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact_nav__tel:focus, .contact_nav__tel:hover {
  color: var(--highlight-color);
  fill: var(--highlight-color);
}

.overlay_image {
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 118px;
  padding-bottom: 118px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.6), rgba(47, 48, 58, 0.6)), url("/images/mobile/hero_img_480.jpg");
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .overlay_image {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.6), rgba(47, 48, 58, 0.6)), url("/images/mobile/hero_img_@2x960.jpg");
  }
}

/* Шапка */
.menu_slogans {
  width: 100%;
}

.menu_slogans__text {
  display: block;
  margin-bottom: 30px;
  font-family: Roboto;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.615;
  color: var(--main-background-color);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.menu_slogans__button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-width: 200px;
  padding: 10px 32px;
  font-weight: 500;
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.875;
  background-color: var(--highlight-color);
  color: var(--main-background-color);
  cursor: pointer;
  align-items: center;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 4px;
  letter-spacing: 0.06em;
}

/* Модальное окно */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: scale(1);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal_window {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 450px;
  height: 609px;
  background: var(--main-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop .modal_window {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal_window__close {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  background: var(--main-background-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal_window__close:focus, .modal_window__close:hover {
  fill: var(--highlight-color);
}

.modal_window__title {
  margin: 40px 40px 0px;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--first-text-primary);
}

/* Форма модального окна */
.form_nav {
  display: block;
  padding-top: 12px;
  padding-left: 40px;
  padding-right: 40px;
}

.form_nav__feedback {
  display: flex;
  flex-direction: column;
}

.form_nav__field {
  position: relative;
  display: flex;
  margin-bottom: 10px;
}

.form_nav__text {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;
  color: var(--complementary-color-text);
}

.form_nav__field input {
  width: 448px;
  height: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 10px;
  cursor: pointer;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form_nav__field input:focus,
.form_nav__field input:hover {
  border: 1px solid var(--highlight-color);
  border-radius: 4px;
}

.form_nav__field:focus-within, .form_nav__field:hover {
  fill: var(--highlight-color);
  border-radius: 4px;
}

.form_nav__icon:focus-within, .form_nav__icon:hover {
  fill: var(--highlight-color);
  border-radius: 4px;
}

.form_nav__icon {
  position: absolute;
  top: 0%;
  left: 0%;
  margin-top: 11px;
  margin-bottom: 11px;
  margin-left: 12px;
  cursor: pointer;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form_nav__field textarea {
  padding: 12px 12px 16px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;
  resize: none;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form_nav__field textarea:hover {
  border: 1px solid var(--highlight-color);
  border-radius: 4px;
}

.form_nav__comment {
  width: 448px;
  height: 120px;
}

textarea::placeholder {
  font-family: Roboto;
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

/* Чекбокс */
.checkbox {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 10px;
  margin-left: 12px;
  min-width: 425px;
  height: 24px;
}

.checkbox__nav {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--complementary-color-text);
}

.checkbox__checkmark {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.checkbox__link {
  display: flex;
  margin-left: 4px;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: var(--highlight-color);
}

.checkbox__icon {
  width: 16px;
  height: 15px;
  margin-right: 8.38px;
  border: 2px solid var(--first-text-primary);
  border-radius: 2px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox__checkmark:active + .checkbox__icon,
.checkbox__checkmark:checked + .checkbox__icon {
  background-color: var(--highlight-color);
  border-color: var(--highlight-color);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Кнопка отправить в модальном окне */
.modal_send {
  display: inline-block;
  align-items: center;
  text-align: center;
  margin-top: 30px;
}

.modal_send__button {
  font-family: Roboto;
  width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 56px;
  padding-right: 55px;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  background-color: var(--highlight-color);
  color: var(--main-background-color);
  cursor: pointer;
  border: 1px solid transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/* Преимущества */
.excellence {
  margin-bottom: -30px;
}

@media screen and (min-width: 768px) {
  .excellence {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}

.excellence__icon {
  display: var(--display-property-flex);
  justify-content: center;
  align-items: center;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: #f5f4fa;
}

.excellence__title {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.172;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  color: var(--first-text-primary);
}

@media screen and (min-width: 768px) {
  .excellence__title {
    text-align: left;
  }
}

.excellence__text {
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--complementary-color-text);
}

.excellence__item {
  width: 100%;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .excellence__item {
    flex-basis: calc((100% - 60px) / 2);
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .excellence__item {
    flex-basis: calc((100% - 120px) / 4);
  }
}

/* Услуги */
.service_box {
  display: none;
}

@media screen and (min-width: 1200px) {
  .service_box {
    display: block;
  }
}

.service {
  margin-left: 15px;
  margin-right: 15px;
  display: var(--display-property-flex);
  align-items: center;
  justify-content: center;
}

.service img {
  display: block;
}

.service__item {
  position: relative;
}

.service__item:not(:last-child) {
  margin-right: 30px;
}

.service__text {
  color: var(--main-background-color);
  background: rgba(47, 48, 58, 0.8);
  padding-top: 27px;
  padding-bottom: 27px;
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/* Команда сотрудников */
.team_background {
  background-color: #f5f4fa;
}

.nav_team {
  margin-left: 15px;
  margin-right: 15px;
  display: var(--display-property-flex);
  align-items: center;
  justify-content: center;
}

.nav_team__item {
  background-color: var(--main-background-color);
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.nav_team__item:not(:last-child) {
  margin-right: 30px;
}

.resume {
  background-color: var(--main-background-color);
  padding-top: 30px;
  padding-bottom: 30px;
}

.resume__name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.171;
  letter-spacing: 0.03em;
}

.resume__text {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.171;
  color: var(--complementary-color-text);
  letter-spacing: 0.03em;
}

/* Наши клиенты */
.customers {
  display: var(--display-property-flex);
  justify-content: center;
  margin-left: 15px;
  margin-right: 15px;
}

.customers__item {
  display: var(--display-property-flex);
  width: 170px;
  height: 92px;
}

.customers__item:not(:last-child) {
  margin-right: 30px;
}

.customers__link {
  width: 100%;
  height: 100%;
  padding-top: 14.43px;
  padding-bottom: 14.43px;
  padding-left: 32px;
  padding-right: 32px;
  fill: var(--icon-social-color);
  justify-content: center;
  align-items: center;
  border: 1px solid var(--icon-social-color);
  box-sizing: border-box;
  border-radius: 4px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers__link:focus, .customers__link:hover {
  border-color: var(--highlight-color);
  fill: var(--highlight-color);
}

/* Почтовая рассылка */
.subscription {
  display: inline-block;
  margin-top: 12px;
  margin-bottom: 40px;
  padding: 0;
}

.mailing {
  display: flex;
}

.mailing input {
  width: 358px;
  height: 50px;
  margin-right: 12px;
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.mailing input::placeholder {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  padding-right: 295px;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.mailing__button {
  font-family: Roboto;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--main-background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--highlight-color);
  width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}

.mailing__icon {
  margin-left: 10px;
}

/* Футер */
.footer_background {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--complementary-color);
}

.footer_nav {
  display: flex;
  justify-content: center;
  align-content: center;
}

.footer_contact {
  margin-right: 70px;
  display: block;
  justify-content: flex-start;
  align-items: center;
}

.footer_contact__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer_contact__address {
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--main-background-color);
}

.footer_contact__link {
  font-size: 14px;
  line-height: 1.714;
  color: var(--complementary-color-text-nav);
  letter-spacing: 0.03em;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer_contact__link:focus, .footer_contact__link:hover {
  color: var(--highlight-color);
}

/* Значки соц сетей футер */
.footer_box {
  display: inline-block;
  margin-top: 12px;
  margin-right: 93px;
  margin-bottom: 40px;
  padding: 0;
}

.footer_box__title {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-background-color);
}

.footer_socials {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-self: flex-end;
}

.footer_socials__item:not(:last-child) {
  margin-right: 10px;
}

.footer_socials__link {
  fill: var(--main-background-color);
  background-color: rgba(255, 255, 255, 0.1);
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer_socials__link:focus, .footer_socials__link:hover {
  fill: var(--main-background-color);
  background-color: var(--highlight-color);
}

/* Значки соц сетей футер */
.footer_box {
  display: inline-block;
  margin-top: 12px;
  margin-right: 93px;
  margin-bottom: 40px;
  padding: 0;
}

.footer_box__title {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-background-color);
}

.footer_socials {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-self: flex-end;
}

.footer_socials__item:not(:last-child) {
  margin-right: 10px;
}

.footer_socials__link {
  fill: var(--main-background-color);
  background-color: rgba(255, 255, 255, 0.1);
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer_socials__link:focus, .footer_socials__link:hover {
  fill: var(--main-background-color);
  background-color: var(--highlight-color);
}

/* Portfolio page */
.portfolio_container {
  box-sizing: border-box;
}

.nav_button {
  margin-bottom: 50px;
  display: var(--display-property-flex);
  justify-content: center;
  align-items: center;
}

.nav_button__item:not(:last-child) {
  margin-right: 8px;
}

.nav_button__text {
  margin: 0 auto;
  padding: 6px 22px;
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  display: block;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  border: 1px solid transparent;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav_button__text:focus, .nav_button__text:hover {
  background-color: var(--highlight-color);
  color: var(--main-background-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

/* icon portfolio menu */
.projects {
  justify-content: center;
  align-items: center;
  display: var(--display-property-flex);
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}

.projects__item {
  max-width: 100%;
  box-sizing: border-box;
  width: calc((100% - 90px) / 3);
  margin-left: 30px;
  margin-bottom: 30px;
  border: 1px solid var(--color-portfolio-line);
  cursor: pointer;
  background: var(--main-background-color);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects__item img {
  display: block;
  max-width: 100%;
}

.projects__item:focus, .projects__item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects__item:nth-child(3n) {
  margin-right: 0px;
}

.projects__item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.projects_content {
  position: relative;
  overflow: hidden;
}

.projects_content::before {
  display: inline-block;
  position: absolute;
  content: "";
  background: rgba(33, 150, 243, 0.9);
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 950ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects__item:hover .projects_content::before {
  opacity: 1;
  transform: translateY(0%);
}

.projects_content__description {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  width: 322px;
  height: 168px;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: var(--main-background-color);
  transform: translate(-150px, 200px);
  transition: transform 950ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects__item:hover .projects_content__description {
  opacity: 1;
  transform: translate(-50%, -50%);
}

.projects_name {
  border-right: 1px solid var(--color-portfolio-line);
  border-left: 1px solid var(--color-portfolio-line);
  border-bottom: 1px solid var(--color-portfolio-line);
  background: var(--main-background-color);
  padding: 20px 24px;
}

.projects_name__title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.projects_name__text {
  font-size: 16px;
  line-height: 1.875;
  color: var(--complementary-color-text);
  letter-spacing: 0.03em;
}
/*# sourceMappingURL=main.css.map */