/* Наши клиенты */

.customers {
  display: var(--display-property-flex);
  flex-wrap: wrap;
  justify-content: center;

  &__item {
    display: var(--display-property-flex);
    width: 170px;
    height: 92px;
    @media screen and (max-width: 479px) {
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }
    @media screen and (min-width: 480px) and (max-width: 767px) {
      &:nth-child(2n + 2) {
        margin-left: 30px;
        margin-bottom: 30px;
      }
      &:nth-child(n + 5) {
        margin-bottom: -30px;
      }
    }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      &:nth-child(2n + 1) {
        margin-left: 30px;
        margin-bottom: 30px;
      }
      &:nth-child(n + 5) {
        margin-bottom: -30px;
      }
    }
    @media screen and (min-width: 1200px) {
      &:not(:last-child) {
        margin-right: 30px;
      }
    }
  }

  &__link {
    width: 100%;
    height: 100%;
    padding-top: 14.43px;
    padding-bottom: 14.43px;
    padding-left: 32px;
    padding-right: 32px;
    fill: var(--icon-social-color);
    justify-content: center;
    align-items: center;
    border: 1px solid var(--icon-social-color);
    box-sizing: border-box;
    border-radius: 4px;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__link:focus,
  &__link:hover {
    border-color: var(--highlight-color);
    fill: var(--highlight-color);
  }
}
