/* Значки соц сетей */

.social_networks {
  border: none;
  display: flex;
  justify-content: center;
  max-width: 206px;
  margin-left: 122px;
  margin-right: 122px;

  // justify-content: space-evenly;

  &__item:not(:last-child) {
    margin-right: 10px;
  }

  &__link {
    fill: var(--icon-social-color);
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__link:focus,
  &__link:hover {
    fill: var(--main-background-color);
    background-color: var(--highlight-color);
  }
}
