:root {
  --first-text-primary: #212121;
  --main-background-color: #ffffff;
  --highlight-color: #2196f3;
  --complementary-color: #2f303a;
  --complementary-color-text: #757575;
  --complementary-color-text-nav: #ffffff99;
  --color-portfolio-line: #eeeeee;
  --icon-social-color: #afb1b8;
  --shadow-effect: #2f303a;
  --display-property-flex: flex;
}
